.users {
  margin-top: 100px;
}

.users__header {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.users__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;

}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__avatar {
  width: 30px;
  height: 30px;
}

.user__name {
  font-size: 0.8rem;
}
