.nav {
  grid-area: nav;
}

.nav__list {
  list-style-type: none;
}

.nav__item {
  margin: 5px 0;
}

.nav__link {
  text-decoration: none;
  color: #000;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.activated {
  text-decoration: underline;
}
