.header {
  grid-area: header;
  background-color: rgba(0, 0, 0, 0.03);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

header h2 {
  font-family: 'LuckiestGuy';
  color: rgb(0, 0, 0);
  margin: 20px;
  letter-spacing: 5px;
}
