.dialog {
  display: flex;
  background-color: #fff;
  border-radius: 20px;
}

.dialog__contacts {
  flex: 0 1 30%;
}

.dialog__divide-line {
  border: 1px solid rgb(223, 223, 223);
  height: 100%;
}

.dialog__messages {
  flex: 0 1 70%;
}
