.messages {
  background-color: rgba(236, 236, 236, 0.294);
}

.messages__header {
  background-color: rgba(184, 184, 184, 0.472);
  padding: 10px 0;
  border-top-right-radius: 20px;
}

.messages__main {
  display: flex;
  flex-direction: column;
  overflow-y:scroll;
  max-height: 75vh;
}

.header__current-dialog-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-dialog-user-pic {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
