.signup-form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #fff;
  max-width: 400px;
  border-radius: 20px;
  margin: 0 auto;
}

.signup-form {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

.input-field {
  width: 250px;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(239, 239, 239);
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.submit-btn {
  outline: none;
  border-radius: 20px;
  border: none;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn:active {
  transform: scale(0.9);
}

.error-msg {
  color: rgb(255, 0, 0);
  font-size: 12px;
  font-weight: bold;
  margin-top: 2px;
}

.center-text {
  text-align: center;
}
