.message {
  max-width: 200px;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #000;
}

.message__left {
  align-self: flex-start;
}

.message__right {
  align-self: flex-end;
}

.message__header {
  display: flex;
  justify-content: space-between;
}

.message__sender-name {
  font-style: italic;
  font-weight: 500;
  margin: 0;
}

.message__text {
  margin: 20px 0px 20px 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.message__date {
  font-size: 0.8rem;
  color: rgb(78, 78, 78);
  margin: 0;
}

.btn__remove {
  cursor: pointer;
}

.btn__remove:active {
  transform: scale(0.9);
}