@font-face {
  font-family: 'LuckiestGuy';
  src: url(./fonts/LuckiestGuy-Regular.ttf);
}

.app {
  height: 100vh;
  width: 100vw;
}

.app__wrapper {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
  "header header"
  "nav content";
}

.header {
  grid-area: header;
  background-color: burlywood;
}

header h2 {
  font-family: 'LuckiestGuy';
  color: #fff;
  margin: 20px;
  letter-spacing: 5px;
}


.nav {
  grid-area: nav;
  background-color: blue;
}

.nav__list {
  list-style-type: none;
}

.nav__item {
  margin: 5px 0;
}

.nav__link {
  text-decoration: none;
  color: #fff;
}

.content {
  grid-area: content;
  background-color: coral;
}

.content__back-img {
  height: 200px;
  width: 100%;

}